
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">{{__ "Toggle navigation"}}</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">{{__ "Tenders Flowchart"}}</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">

			<!--  class="active" -->
				<li><a href="/users/list">{{__ "Users management"}}</a></li>

			</ul>

			{{#if user }}
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/users/me" title="{{__ "My profile"}}"><i class="fa fa-user"></i> {{user.username}}</a></li>
				<li role="separator" class="divider"></li>
				<li><form method="POST" action="/logout"><button class="btn btn-default btn-xs navbar-btn" type="submit">{{__ "Logout"}}</button></form></li>
			</ul>
			{{/if}}
		</div><!--/.nav-collapse -->
	</div>
</nav>
