<section class="container">
	<h1>{{__ "Registerd users"}}</h1>
	<p>
		{{__ "List of our user (possibly, employees), who has access to TNDR files"}}
	</p>
	<fieldset>
		<a href="/user/create" class="btn btn-common" title="{{__ "Create new user"}}"><i class="fa fa-user-plus"></i>&nbsp;{{__ "New user"}}</a>
	</fieldset>
	<table class="tablesorter table table-striped">
		<thead><tr>
			<th>{{__ "#"}}</th>
			<th>{{__ "Username"}}</th>
			<th>{{__ "Surname"}}</th>
			<th>{{__ "Name"}}</th>
			<th>{{__ "Phone"}}</th>
			<th title="{{__ "Enabled, user has access to the TNDR"}}">{{__ "E"}}</th>
			<th colspan="2">{{__ "Actions"}}</th>
		</tr></thead>
		<tbody>
			{{#each users}}
				<tr class="{{#unless enabled}}text-muted{{/unless}}">
					<td>{{id}}</td>
					<td>{{username}}</td>
					<td>{{person.surname}}</td>
					<td>{{person.name}}</td>
					<td>
						{{#if enabled}}<a class="phone" href="{{person.phone_link}}">{{/if}}
						{{person.phone}}
						{{#if enabled}}</a>{{/if}}
					</td>

					<td>
						<input type="checkbox" disabled="disabled" {{#if enabled}}checked="checked"{{/if}} value="1" />
					</td>
					<td>
						{{#unless is_root}}
							{{#if enabled}}
								<form method="POST" action="/user/{{id}}/enabled"><input type="hidden" name="enabled" value="false"/><button type="submit" class="btn btn-danger btn-xs">{{__ "Disable"}}</button></form>
							{{else}}
								<form method="POST" action="/user/{{id}}/enabled"><input type="hidden" name="enabled" value="true"/><button type="submit" class="btn btn-default btn-xs">{{__ "Enable"}}</button></form>
							{{/if}}
						{{/unless}}
					</td>
					<td>
						{{#if enabled}}<a href="/user/{{id}}" title="{{__ "View personal card"}}">{{__ "View"}}</a>{{/if}}
					</td>

				</tr>
			{{/each}}
		</tbody>
	</table>
</section>
