<section class="container tender-wizard">
	<form class="main">
		<article class="step-1">

			<fieldset>
				<legend>
					<h2>{{__ "Main data"}}</h2>
				</legend>
				<div>
					<label class="required">
						<span>{{__ "Name of tender"}}</span>
						<input type="text" name="name" class="input-lg" />
					</label>
				</div>

				<div>
					<label>
						<span>{{__ "Simpro Quote"}}</span>
						<input type="text" name="simproQuoteNumber" />
					</label>
				</div>

			</fieldset>

			<fieldset>
				<legend>
					<h2>{{__ "Dates"}}</h2>
				</legend>
				<div>
					<label>
						<span>{{__ "Opening date"}}</span>
						<input type="datetime" name="openingDate" />
					</label>
				</div>
				<div>
					<label>
						<span>{{__ "Opening date"}}</span>
						<input type="datetime" name="closingDate" />
					</label>
				</div>
			</fieldset>

		</article>
	</form>
</section>
