<section class="container">
	<h1>{{user.person.surname}} {{user.person.name}}</h1>

	<form action="">
			<div>{{__ "Username"}}
				{{user.username}}
			</div>
			<div>{{__ "Surname"}}
{{user.person.surname}}
			</div>
			<div>{{__ "Name"}}
{{user.person.name}}
			</div>
			<div>{{__ "Phone"}}
{{user.person.phone}}
			</div>

	</form>

</section>
