<section class="container">
	<h1>Known users</h1>
	<div>
		<a href="/users/create" class="btn btn-common" title="Create new user"><i class="fa fa-user-plus"></i> New user</a>
	</div>
	<table class="tablesorter table">
		<thead><tr>
			<th>#</th>
			<th>Username</th>
			<th>Enabled</th>
		</tr></thead>
		<tbody>
			{{#each users}}
				<tr>
					<td>{{user}}</td>
					<td>{{username}}</td>
					<td>
						<input type="checkbox" disabled="disabled" {{#if enabled}}checked="checked"{{/if}} value="1" />
						{{#unless is_root}}
							{{#if enabled}}
								<form method="POST" action="/users/{{user}}/enabled"><input type="hidden" name="enabled" value="false"/><button type="submit" class="btn btn-danger btn-xs">Disable</button></form>
							{{else}}
								<form method="POST" action="/users/{{user}}/enabled"><input type="hidden" name="enabled" value="true"/><button type="submit" class="btn btn-default btn-xs">Enable</button></form>
							{{/if}}
						{{/unless}}
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</section>
