<section class="container builder">
	<h1>{{builder.name}}</h1>

	{{! TODO: remove excessive classes }}

	<form class="cl-builder-edit-main">

		<fieldset>
			<legend><h2>{{__ "Builder common info"}}</h2></legend>

			<input type="hidden" value="{{builder.id}}" name="id" />

			<div class="form-group">
				<label>
					{{~__ "Name"~}}
					<input {{#unless create}}disabled="disabled"{{/unless}} type="text" class="form-control cl-editable cl-creatable" name="name" value="{{builder.name}}"/>
				</label>
			</div>

			<div class="form-group">
				<label>
					{{~__ "Category"~}}
					<select {{#unless create}}disabled="disabled"{{/unless}} name="builder_category" class="form-control cl-editable cl-creatable">
						{{~#each builder_category ~}}
							<option value="{{id}}" class="{{code}}" {{selected this.id ../builder.builder_category.id }}>{{name}}</option>
						{{~/each~}}
					</select>
				</label>
			</div>

			<div class="form-group">
				<button {{#unless create}}style="display:none"{{/unless}} type="button" class="btn btn-cancel cl-cancel cl-state-edit cl-state-create" title="{{__ 'Cancel'}}">{{__ "Cancel"}}</button>
				{{#if create}}
					<button type="button" class="btn btn-create cl-create cl-state-create" title="{{__ 'Save data related to new builder'}}">{{__ "Create"}}</button>
				{{else}}
					<button type="button" class="btn btn-save cl-edit cl-state-read" title="{{__ 'Edit data'}}">{{__ "Edit"}}</button>
					<button style="display:none" type="button" class="btn btn-save cl-save cl-state-edit" title="{{__ 'Save changes'}}">{{__ "Save"}}</a>
				{{/if}}
			</div>

			{{~#if builder.id}}
				<div class="form-group">
					<button type="button" class="btn btn-delete btn-xs" data-toggle="modal" data-target=".cl-delete-modal">{{__ "Delete"}}</button>
				</div>
			{{~/if~}}

		</fieldset>
	</form>

	<section>
		<h2>{{__ "Employees"}}</h2>
		<ul>
			{{~#each builder.employees as |employee|~}}
				<li>
					<a href="/builder/{{@root.builder.id}}/employee/{{employee.id}}" title="{{__ "View employee personal card"}}"><i class="fa fa-link"></i>
						{{employee.surname}} {{employee.name}} {{employee.job}}
					</a>
				</li>
			{{~/each~}}
		</ul>
	</section>

	{{~#if builder.id~}}
	<!--
	<section>
		<h2>{{__ "Danger zone"}}</h2>

		<section>
			<h4>{{__ "Delete builder"}}</h4>
			<span>{{__ "This operation couldn't be rolled back. The minimal set of required data (f.e. name of builder, to show in tenders) will remain."}}</span>
			<button class="btn btn-delete btn-xs" data-toggle="modal" data-target=".cl-delete-modal">{{__ "Delete"}}</button>
		</section>
	</section>
	-->
	{{! TODO: remove excessive classes }}

	<div class="cl-delete-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="delete-modal-header">
		<div class="modal-dialog" role="document">
			<section class="modal-content">
				<header class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="{{__ "Close"}}"><i class="fa fa-times" aria-hidden="true"></i></button>
					<h4 class="modal-title" id="delete-modal-header">{{__ "Delete builder?"}}</h4>
				</header>
				<article class="modal-body">
					{{__ "This operation couldn't be rolled back. The minimal set of required data (f.e. name of builder, to show in tenders) will remain."}}
				</article>
				<footer class="modal-footer">
					<button type="button" class="btn btn-cancel" data-dismiss="modal">{{__ "Cancel"}}</button>
					<button type="button" class="btn btn-delete cl-delete" data-builder="{{builder.id}}">{{__ "Delete"}}</button>
				</footer>
			</section>
		</div>
	</div>
	{{! dialog end }}
	{{~/if}}

</section>

{{#extend "scripts"}}

<script type="text/javascript">
{{#if create}}
	mode_create = true;
{{^}}
	mode_create = false;
{{/if}}

</script>

<script type="text/javascript" src="/js/builder/card.min.js">
</script>


{{/extend}}
