<section class="container builder">
	<h1>{{__ "Builder:"}} {{builder.name}}</h1>

	{{! TODO: remove excessive classes }}

	<form class="cl-builder-edit-main">

		<fieldset>
			<legend><h2>{{__ "Common info"}}</h2></legend>

			<input type="hidden" value="{{builder.id}}" name="id" />

			<div class="form-group">
				<label>
					<span>{{~__ "Name"~}}</span>
					<input {{#unless create}}disabled="disabled"{{/unless}} type="text" class="form-control cl-editable cl-creatable" name="name" value="{{builder.name}}"/>
				</label>
			</div>

			<div class="form-group">
				<label>
					<span>{{~__ "Category"~}}</span>
					<select {{#unless create}}disabled="disabled"{{/unless}} name="builder_category" class="form-control cl-editable cl-creatable">
						{{~#each builder_category ~}}
							<option value="{{id}}" class="{{code}}" {{selected this.id ../builder.builder_category.id }}>{{name}}</option>
						{{~/each~}}
					</select>
				</label>
			</div>

			<div class="form-group">
				<button {{#unless create}}style="display:none"{{/unless}} type="button" class="btn btn-cancel cl-cancel cl-state-edit cl-state-create" title="{{__ 'Cancel'}}">{{__ "Cancel"}}</button>
				{{#if create}}
					<button type="button" class="btn btn-create cl-create cl-state-create" title="{{__ 'Save data related to new builder'}}">{{__ "Create"}}</button>
				{{else}}
					<button type="button" class="btn btn-edit cl-edit cl-state-read" title="{{__ 'Edit data'}}">{{__ "Edit"}}</button>
					<button style="display:none" type="button" class="btn btn-save cl-save cl-state-edit" title="{{__ 'Save changes'}}">{{__ "Save"}}</a>
				{{/if}}
			</div>

			{{~#if builder.id}}
				<div class="form-group">
					<button type="button" class="btn btn-delete btn-xs" data-toggle="modal" data-target=".cl-delete-modal">{{__ "Delete"}}</button>
				</div>
			{{~/if~}}

		</fieldset>
	</form>

	{{~#if builder.id~}}
		<section class="employees cl-employees" data-builder="{{builder.id}}">
			<h2>{{__ "Employees"}}</h2>
			<fieldset>
				<button class="btn btn-create cl-employee-add" title="{{__ "Add information about another one employee"}}"><i class="fa fa-user-plus"></i>&nbsp;{{__ "Add employee"}}</button>
			</fieldset>

			<hr />
			<section class="employee-list clearfix" data-bind="foreach: employees">
				<article class="employee-item" data-bind="attr: {id : 'employee-' + id()}">
					<header>
						<h3><a class="tndr-bookmark" data-bind="attr: {href: '#employee-' + id() }"></a> <!-- ko text: surname() + ' ' + name() --> <!-- /ko --></h3>
					</header>
					<section class="cl-state-read">
						<p>
							<strong data-bind="text: job"></strong> <a class="tndr-phone" data-bind="text: phone, attr: { href: phone_link }"></a>
						</p>
						<p class="text-muted" data-bind="visible: note, text: note">
						</p>
					</section>

					<section class="cl-state-edit cl-state-create" style="display:none">
						<form class="cl-employee-edit-form">
							<fieldset>
								<input type="hidden" name="builder" value="{{builder.id}}" />
								<input type="hidden" name="employee" data-bind="value: id" />

								<div class="form-group">
									<label>
										{{~__ "Surname"~}}
										<input type="text" class="form-control" name="surname" data-bind="value: surname" />
									</label>
								</div>
								<div class="form-group">
									<label>
										{{~__ "Name"~}}
										<input type="text" class="form-control" name="name" data-bind="value: name" />
									</label>
								</div>
								<div class="form-group">
									<label>
										{{~__ "Job Title"~}}
										<input type="text" class="form-control" name="job" data-bind="value: job" />
									</label>
								</div>
							</fieldset>
							<fieldset>
								<div class="form-group">
									<label>
										{{~__ "Phone"~}}
										<input type="tel" class="form-control" name="phone" data-bind="value: phone" />
									</label>
								</div>
							</fieldset>
							<fieldset>
								<div class="form-group">
									<label>
										{{~__ "Notes"~}}
										<textarea class="form-control" name="note" data-bind="value: note">
										</textarea>
									</label>
								</div>
							</fieldset>
						</form>
					</section>

					<footer>
						<button style="display:none" type="button" class="btn btn-cancel cl-employee-cancel cl-state-edit cl-state-create" title="{{__ "Cancel"}}">{{__ "Cancel"}}</button>
						<button type="button" class="btn btn-edit cl-employee-edit cl-state-read" title="{{__ "Edit"}}">{{__ "Edit"}}</button>
						<button style="display:none" type="button" class="btn btn-save cl-employee-save cl-state-edit" title="{{__ "Save"}}">{{__ "Save"}}</button>
						<button style="display:none" type="button" class="btn btn-create cl-employee-create cl-state-create" title="{{__ "Create"}}">{{__ "Create"}}</button>
						<button type="button" class="btn btn-xs btn-delete cl-state-read" data-builder="{{builder.id}}" data-bind="attr: {'data-employee': id }" data-toggle="modal" data-target=".cl-delete-employee-modal" >{{__ "Delete"}}</button>
					</footer>
				</article>
			</section>


		</section>

		{{! DELETE builder dialog }}
		{{! TODO: remove excessive classes }}
		<div class="cl-delete-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="cl-delete-modal-header">
			<div class="modal-dialog" role="document">
				<section class="modal-content">
					<header class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="{{__ "Close"}}"><i class="fa fa-times" aria-hidden="true"></i></button>
						<h4 class="modal-title" id="cl-delete-modal-header">{{__ "Delete builder?"}}</h4>
					</header>
					<article class="modal-body">
						{{__ "This operation couldn't be rolled back. The minimal set of required data (f.e. name of builder, to show in tenders) will remain."}}
					</article>
					<footer class="modal-footer">
						<button type="button" class="btn btn-cancel" data-dismiss="modal">{{__ "Cancel"}}</button>
						<button type="button" class="btn btn-delete cl-delete" data-builder="{{builder.id}}">{{__ "Delete"}}</button>
					</footer>
				</section>
			</div>
		</div>
		{{! dialog end }}

		{{! DELETE employee dialog }}
		{{! TODO: remove excessive classes }}
		<div class="cl-delete-employee-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="cl-delete-employee-modal-header">
			<div class="modal-dialog" role="document">
				<section class="modal-content">
					<header class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="{{__ "Close"}}"><i class="fa fa-times" aria-hidden="true"></i></button>
						<h4 class="modal-title" id="cl-delete-employee-modal-header">{{__ "Remove employee data"}}</h4>
					</header>
					<article class="modal-body">
						{{__ "This operation couldn't be rolled back, only minimal set of data will remain. Are you sure?"}}
					</article>
					<footer class="modal-footer">
						<button type="button" class="btn btn-cancel" data-dismiss="modal">{{__ "Cancel"}}</button>
						<button type="button" class="btn btn-delete cl-delete-employee">{{__ "Delete"}}</button>
					</footer>
				</section>
			</div>
		</div>
		{{! dialog end }}
	{{~/if}}

</section>

{{#extend "scripts"}}

<script type="text/javascript">
{{#if create}}
	mode_create = true;
{{^}}
	mode_create = false;
{{/if}}

</script>

<script type="text/javascript" src="/js/builder/card.min.js">
</script>

{{/extend}}
